<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IQA Web App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="index-body">

<div class="index-container">

    <h1 class="index-title">Welcome to the IQA Web App</h1>

    <p class="index-desc">
        Easily evaluate the perceptual quality of any image using our AI scoring model.
        Upload an image and get an instant quality score within seconds.
    </p>

    <a href="/predict-ui" class="index-button">Start Scoring</a>

</div>

</body>
</html>
