name: CI

on:
  pull_request:
    paths:
      - 'training/**/*'
      - 'serving/**/*'
      - 'tests/*'
      - 'infra/*'
      - '.github/workflows/test.yaml'
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        pip install -r serving/requirements.txt
    - name: Run tests
      run: pytest --cov
